/* 
   #1 Global CSS
   #2 Preloader Css
   #3 Nav bar
   #4 Footer

*/

:root {
  --main-color-one: rgba(13, 22, 35, 1);
  --secondary-color: rgba(240, 243, 245, 1);
  --heading-color: rgba(13, 22, 35, 1);
  --paragraph-color: rgba(13, 22, 35, 1);
  --heading-font: "Darker Grotesque", sans-serif;
  --body-font: "Darker Grotesque", sans-serif;
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/DarkerGrotesque-Light.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/DarkerGrotesque-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/DarkerGrotesque-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/DarkerGrotesque-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}


/* -----------------
    #1 Global CSS 
 ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.elementor-element.elementor-widget.elementor-widget-text-editor p {
  font-size: inherit !important;
}

body,
p,
a {
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 1.5;
  color: var(--paragraph-color);
  letter-spacing: 0px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
  line-height: 1.1em;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

ul,
ol,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
}

/*-------------------------
    #2 Preloader Css
---------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  background: #fff;
}


.preloader svg {
  width: 200px;
}

/*---------------
    #3 Nav bar
----------------- */
#masthead .navbar {
  padding: 20px 0px;
}

#masthead #menu-primary-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding-right: 68px;
}

#masthead #menu-primary-menu li a {
  font-size: 16px;
  transition: all .3s ease-in-out;
  color:rgba(37, 45, 57, 1);
}

#masthead #menu-primary-menu li a:hover {
  color: #000;
}

.navbar-collapse {
  flex-grow: 1;
}

.header-btn a {
    padding: 10px 24px;
    background: rgba(13, 22, 35, 1);
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--body-font);
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(13, 22, 35, 1);
    transition: .3s ease-in-out all;
    letter-spacing: 1px;
}

.header-btn a:hover {
  background: transparent;
  color: rgba(13, 22, 35, 1);
}

.header-btn a svg path{
  fill: #fff;
}

.header-btn a:hover svg path{
  fill: rgba(13, 22, 35, 1);
}


/*======================
  Footer Area CSS
========================*/
.footer-section{
  background: rgba(240, 243, 245, 1);
  padding-top: 140px;
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.footer-top-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 38px;
    border-bottom: 1px solid rgba(223, 224, 226, 1);
}

.footer-social-share {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-social-share li a {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(247, 247, 248, 1);
    border-radius: 50%;
    padding: 20px;
}

ul.footer-social-share.for-mobile{
  display: none;
}

.copyright-text.for-mobile{
  display: none;
}

.footer-menu-wrapper {
    padding-bottom: 40px;
}

.footer-menu-wrap {
    display: flex;
    gap: 40px;
}

.widget_nav_menu {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    margin-top: 70px;
}

.footer-location-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 30px;
}

.footer-single-location h4 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(80, 85, 94, 1);
    margin-bottom: 8px;
}

.footer-single-location p {
    margin-bottom: 10px;
}

.footer-bottom-menu {
    padding: 30px 0 40px;
    border: 1px solid rgba(223, 224, 226, 1);
    border-left: none;
    border-right: none;
}

.menu-about-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.footer-bottom-menu-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-menu-wrap .footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-bottom-menu-list li a {
    color: rgba(37, 45, 57, 1);
    font-size: 14px;
}

.company-deck {
    margin-top: 73px;
}

.company-deck-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    line-height: 1em;
    font-weight: 400;
}

